/* MARGIN BETWEEN NAV */
.below-nav{
  margin: 15px !important;
}

/* HOME PAGE */
.home-buttons {
  margin: 10px !important;
}

/* TITLE OF PAGE */
.title-font {
  font-size: 30px !important;
  font-family: 'Open Sans', sans-serif !important;
}

/* EXISTING */
.container {
  width: 80% !important;
}
