<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    {% block navigation %}{% endblock %}
    <div class="non-nav">
      <span class="my-header card-title"> {% block header %}{% endblock %} </span><br>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
