{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block header %} MY BLOGS {% endblock %}

{% block navigation %}
  <a href="{{url_for('blog')}}"> HOME&nbsp</a>
  <a href="{{url_for('create_blog')}}">CREATE BLOG&nbsp</a>
  <a href="{{url_for('logout')}}"> LOGOUT</a>
{% endblock %}

{% block content %}
  {% for blog_data in blog_list %}
    <a href="{{ url_for('view_blog', user_id=blog_data[0], blog_id=blog_data[1], blog_title=blog_data[2] )}}">{{ blog_data[2] }}</a><br>
  {% endfor %}
{% endblock %}
