{% extends "base.html" %}
{% block title %} Welcome! {% endblock %}

{% block navigation %}
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a class="brand-logo center my-header" href="{{url_for('blog')}}"> WELCOME TO THE BLOG! </a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="center-align">
    <a class="waves-effect waves-light btn home-buttons" href= "{{url_for('register')}}">REGISTER</a><br>
    <a class="waves-effect waves-light btn home-buttons" href= "{{url_for('login')}}">LOGIN</a>
  </div>
{% endblock %}
