{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block header %} LOGIN {% endblock %}

{% block navigation %}
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="{{url_for('home')}}"> HOME</a></li>
    <li><a href="{{url_for('register')}}"> REGISTER</a></li>
  </ul>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/login/auth">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input class="waves-effect waves-light btn" type="submit" name="login" value="LOGIN">
    </form>
{% endblock %}
