{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block header %} LOGIN {% endblock %}

{% block navigation %}
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{url_for('home')}}"> HOME</a></li>
        <li><a href="{{url_for('register')}}"> REGISTER</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      {{ msg }} <br>
    {% endfor %}
    {% endwith %}
    <form method="post" action="/login/auth">
      <input type="text" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" name="login">
    </form>
{% endblock %}
